/*.btn is a class*/
/*padding 20px / 24px 20 refers to top & bottom / 24 refers to L & R*/

html {
	color: #fff;
	font-family: Futura;
	background-image: url(/img/5.png); /*You will specify your image path here.*/
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;						   /* Makes the image fit-to-screen*/
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

.index_page {
	color: #e6e6e6;
}
.index_title {
	font-family: Phosphate;
	font-size: 60px;
}

.index_form {
	background-color: transparent;
	vertical-align: middle;
}

.index_quote {
	font-size: 18px;
	padding-top: 100px;
}

.knowledge {
	padding-right: 70px;
}

.intelligence {
	padding-left: 70px;
}
