<center>
<h2>Top Stories For You</h2><br>

<div style="font-size: 20px;">
<p><%= @question.question %>!</p>
<p><%= @question.caption%>!</p>
<br>

<form method=get action='/questions/<%= @question.id %>/answers/new'> 
	<input type=submit value = "Answer">
</div>
</center>

