<center>

	<h2>Top Stories For You</h2><br>
	<p>This is the feed page which should list recent and top stories from all users with upvotes</p>

	<div style="font-size: 20px;">
	
		<form method=get action='/questions'> 
		<input type=submit value = "Back to All Q&A's">

		<br><br>
	
		<p>
			<% @all_questions.each do |question| %>
			<p><%=	question.question %></p>
			<p><%=	question.caption %></p>
			<%end %>
		</p>
		
		<p> 
			<% @all_answers.each do |answer| %>
			<p><%=	answer.answer %></p>
			<%end %>
		</p>

	</div>

</center>

