<a href="/profile" style="text-align: right;">Profile</a>
<a href="/feed" style="text-align: right;">Feed</a>
<a href="/questions" style="text-align: right;">Questions</a>
<a href="/answers" style="text-align: right;">Answers</a>

<div style="text-align: center;">

	<h2>This is the homepage</h2>
	<p>Welcome back <%= @user.username %>!</p>

		<h3>Add question</h3>
		<form method=post action="/questions">
		<input type=text placeholder = "Submit Your Question" name = "question"><br>
		<input type=text placeholder = "Enter A Caption" name = "caption"><br>
		<input type=submit value="Ask">
</div>




