<a href="/profile" style="text-align: right;">Profile</a>

<div style="text-align: center;">

	<p>Welcome back <%= @user.username %>!</p>

		<h3>Add question</h3>
		<form method=post action="/questions">
		<input type=text placeholder = "Submit Your Question" name = "question"><br>
		<input type=text placeholder = "Enter A Caption" name = "caption"><br>
		<input type=submit value="Ask">
</div>



