<center>
	<div class="index_page">
		<h1 class="index_title">Ask</h1>
		<h2 style="padding-top: 40px ;">Sign up for a free account!</h2><br>
			<div class="index_form">
				<form method=post action='/signup'>
					<input type=text placeholder = "Username" name = "username"><br>
					<input type=text placeholder = "Email ID" name = "email"><br>
					<input type=text placeholder = "First Name" name = "first_name"><br>
					<input type=text placeholder = "Last Name" name = "last_name"><br>
					<input type=password placeholder = "Password" name = "password"><br><br>
					<input type=submit value = "Sign Up!">
				</form>
			</div>
			<div class="index_quote">
				<p class="knowledge"><i>"Knowledge is having the right Answer</i></p><span>
				<p class="intelligence"><i>Intelligence is Asking the right Question"</i></p></span>
			</div>
	</div>
</center>
