<div style="text-align: center;">
<h2>TEST:Login page</h2>

<form method=post action="/login">
	<input type=text placeholder = "Username" name = "username"><br>
	<input type=password placeholder = "Password" name = "password"><br>
	<input type=submit value="Log in">
</form>
</div>
