<center>
	<form name="redirect">
	<font face="Arial"><b>You will be redirected to the mainpage in<br><br>
	<form>
	<input type="text" size="3" name="redirect2" style="font-size: 15px; text-align: right ;font-family: Futura; border-color: transparent;">
	</form>
	seconds</b></font>

	<script>
		//change below target URL to your own
		var targetURL="http://localhost:9393"
		//change the second to start counting down from
		var countdownfrom=3

		var currentsecond=document.redirect.redirect2.value=countdownfrom+1
		function countredirect(){
		if (currentsecond!=1){
		currentsecond-=1
		document.redirect.redirect2.value=currentsecond
		}
		else{
		window.location=targetURL
		return
		}
		setTimeout("countredirect()",1000)
		}

		countredirect()
	</script>
	<p>Click <a href="http://localhost:9393">here</a> to redirect</p>
</center>
