<!DOCTYPE html>
<html style="text-align: center;">
	<head>
		<title>Welcome to Quora</title>
	</head>

	<body>
		<%= yield %>
	</body>

	<footer id="footer" style="padding-top: 180px">
		<div style="text-align: center;">
			<% if current_user %>
				<div id="logout">
					<form action ="/logout" method="post">
						<input type = "submit" value = "Logout">
					</form>
				</div>
			<% else %>
				<div id="login" style="padding-top: 40px">
					<p>Already an existing user?</p>
					<form action ="/login" method="get">
					<input type = "submit" value = "Login">
					</form>
				</div>
			<% end %>
		</div>
	</footer>

</html>
