<html>
	<head>
		<title>Welcome to Quora</title>
	</head>
	
	<body>

		<%= yield %>

		<div id="login" style="padding-top: 40px">
			<p>Already an existing user?</p>
			<form action="/user_login" method="get">
				<input type = "submit" value = "Login">
			</form>
		</div>

		<div id="logout">
			<form action="/user_logout" method="get">
				<input type = "submit" value = "Logout">
			</form>
		</div>


	</body>
</html>