<!DOCTYPE html>
<html style="text-align: center;">
	<head>
		<title>Welcome to AZK</title>
		<link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/imac.png"/>
		<link href="css/application.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type='text/javascript' src='/js/application.js'></script>
	</head>

	<body>
		<%= yield %>
	</body>

	<footer id="footer" style="padding-top: 180px">
		<div style="text-align: center;">
			<% if current_user %>
				<div id="logout">
					<form action ="/logout" method="post">
						<input type = "submit" value = "Logout">
					</form>
				</div>
			<% else %>
				<div id="login" style="padding-top: 40px">
					<p>Already an existing user?</p>
					<form action ="/login" method="get">
					<input type = "submit" value = "Login">
					</form>
				</div>
			<% end %>
		</div>
		<br><br><br>
		<p style="font-size: 11px; color: #e6e6e6"> © Zi-Wen Ho | April 2016 </p>
	</footer>
</html>
